.calculator {
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  background: black;
  border-radius: 5px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  margin-top: 10px;
}

input[type="text"] {
  width: 100%;
  margin-top: 50px;
  background-color: black;
  color: white;
  margin-bottom: 10px;
  outline: none;
  text-align:right;
  border: none;
}
button {
  border-radius: 30px;
  padding: 10px;
  font-size: 18px;
}

.zero {
  text-align: left;
  grid-column: span 2;
  background: #313131;
  color: white;
}

.tab{
  background: #313131;
  color: white;
}
.tab2{
  background: #F69906;
  color: white;
}
.tab3{
  background: #A0A0A0;
  color: white;
}


